ion-list {
  margin: 20px;
  border-radius: 16px;
  overflow: hidden;
  background: var(--ion-card-background);
}

ion-item {
  --background: transparent;
  --color: #e0e0e0;
  font-size: 17px;
  font-weight: 500;
}